<!-- display when message submitted successfully -->

<br>
<br>
<br>
<br>

<p *ngIf="isValidFormSubmitted" [ngClass]="'success'" class="submit">
	Form submitted successfully.
</p>


<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="container">
				<div class="row">
				  <div class="col-6">
					<div class="jumbotron" style="width: 500px;
				}">
					  <!-- <h2></h2> -->
					  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
						
						<div class="form-group">
							<label for="password">Name</label>
							<input type="name" class="form-control" [(ngModel)]="model.password" #name="ngModel" maxlength="8" [ngClass]="{'is-invalid':f.submitted && name.invalid}" name="name" required minlength="3" />
							<div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
							  <div *ngIf="name.errors.required"> Name is required</div>
							  <div *ngIf="name.errors.minlength"> must be at least 3 characters</div>
							  <div *ngIf="name.errors.maxlength"> must be at max 150 characters</div>
							</div>
						  </div>

						  
						<div class="form-group">
						  <label for="email">Email</label>
						  <input type="text" class="form-control" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{'is-invalid':f.submitted && email.invalid}" name="email" required email />
						  <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
							<div *ngIf="email.errors.required">Email Name is required</div>
							<div *ngIf="email.errors.email">Email must be a valid email Address</div>
						  </div>
						</div>
						
						<div class="form-group col-md-4">
							<label for="inputState">Country</label>
							<select id="inputState" class="form-control" style="width:400px;">
								<option>------------</option>
								<option selected *ngFor="let count of country">{{count.name}}</option>
								
							</select>
						</div>

						<div class="form-group">
						  <button class="btn btn-primary" >Submit</button>
						</div>
					  </form>
					</div>
				  </div>
				</div>
			  </div>
			  

		</div>
		<div class="col-md-6">
			<p style="margin-left: 50%;"> user informations</p>
			<div style="margin-left: 35%;">

				<!-- <p>Destination name:  {{names.owner.name}}</p> -->
				<!-- <p>Destination name:  {{names.destination.name}}</p> -->
				<!-- <div>{{names.source.name}}</div> -->
				<table class="table">
					<thead>
					  <tr>
						<th scope="col">Customer name</th>
						<th scope="col">destination name</th>
						<th scope="col">source name</th>
						<th scope="col">Cost</th>
						
					  </tr>
					</thead>
					<tbody *ngFor="let names of data" >
					  <tr>
						<th scope="row">{{names.owner.name}}</th>
						<td>{{names.destination.name}}</td>
						<td>{{names.source.name}}</td>
						<td>{{names.cost.amount}}</td>
						
					  </tr>
					  <tr>
						<th scope="row">2</th>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@fat</td>
					  </tr>
					  <tr>
						<th scope="row">3</th>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					  </tr>
					</tbody>
				  </table>
			  </div> 
		</div>
	</div> 
</div>
<!-- <div *ngFor="let names of data">

	<div> {{names.destination.name}}</div>
  
	<div>{{names.source.name}}</div>
  </div> -->

<!-- 
  <div *ngFor="let count of country">

	<div> {{count.name}}</div>
    </div>  -->