<br>
<br>
<br>
<br>

<p *ngIf="isValidFormSubmitted" [ngClass]="'success'" class="submit">
	Form submitted successfully.
</p>


<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="container">
				<div class="row">
					<div class="col-6">
						<div class="jumbotron" style="width: 500px">
						<form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)"
								style="width: 400px; margin: 30px;">

								<div class="form-group">
									<label for="name">name</label>
									<input id="name" name="name" class="form-control" required minlength="4"
										appForbiddenName="bob" [(ngModel)]="user.name" #name="ngModel">
									<div *ngIf="name.invalid && (name.dirty || name.touched)"
										class="alert alert-danger">
										<div *ngIf="name.errors.required">
											Name is required.
										</div>
										<div *ngIf="name.errors.minlength">
											Name must be at least 4 characters long.
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="email">Email</label>
									<input id="email" name="email" class="form-control" required maxlength="120"
										appForbiddenName="bob" [(ngModel)]="user.email" #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
									<div *ngIf="email.invalid && (email.dirty || email.touched)"
										class="alert alert-danger">
										<div *ngIf="email.errors.required">
											Email is required.
										</div>
										<div *ngIf="email.errors.maxlength">
											Email must be at least 120 characters long.
										</div>
										<div *ngIf="email.errors.pattern">
										email not valid
									</div>
									</div>
								</div>
								<br>
								<div class="form-group col-md-4">
										<label for="inputState">Country</label>
										<select (ngModelChange)="onChange($event)"  [ngModel]="selectedCountry" [ngModelOptions]="{standalone: true}" id="inputState" class="form-control" style="width:400px;">
							<option value="" selected></option>
											<option  *ngFor="let count of country"> {{count.name}}</option>
			
										</select>
									</div>
			
									<div class="form-group">
									  <button class="btn btn-primary" [disabled]="(email.invalid || name.invalid || selectedCountry==='')">Submit</button>
									</div>
							</form>
						</div>
					</div>
				</div>
			</div>


		</div>
		<div class="col-md-6">
			<p style="margin-left: 50%;"> user informations</p>
			<div style="margin-left: 35%;">

				<table class="table">
					<thead>
						<tr>
							<th scope="col">Customer name</th>
							<th scope="col">destination name</th>
							<th scope="col">source name</th>
							<th scope="col">Cost</th>

						</tr>
					</thead>
					<tbody *ngFor="let names of data">
						<tr>
							<th scope="row">{{names.owner.name}}</th>
							<td>{{names.destination.name}}</td>
							<td>{{names.source.name}}</td>
							<td>{{names.cost.amount}}</td>

						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>